body{
    margin: auto;
    
    
    }
.form-select{
    width: 30%;
    margin-left:auto;
    margin-right: auto;
    background-color: cornsilk;

   
    
}
.choosedayofWeek{ background-color: antiquewhite;

}